.header {
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(122, 8, 88);
    color: white;
}

.grid {
    margin: auto;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.column {
    flex-direction: column;
    max-width: 30px;
    flex: 1 0 10px;
}

.square {
    aspect-ratio: 1/1;
    border: 1px solid black;
    /*max-width: 30px;*/
}

button {
    margin: 10px;
}

label {
    margin-left: 10px;
    margin-right: 2px;
}