body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;

}

.content {
    display: flex;
    flex: 1;
}

.left-content {
    display: flex;
    flex-direction: column;
}

.header {
    padding: 10px;
    background-color: rgb(122, 8, 88);
    color: white;
}

.sidebar {
    background-color: lightgray;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 310px;
}

.grid-dimensions {
    margin-top: 10px;
    margin-right: 70px;
    display: flex;
    justify-content: space-between;
}

.choose-colors {
    margin: 10px;
}

.color-selection {
    display: flex;
}

.color input {
    margin-top: 10px;
}

.grid {
    margin: 60px;
    display: flex;
    flex-direction: column;
}

.row {
    max-width: 30px;
    display: flex;
}

.square {
    aspect-ratio: 1/1;
    border: 1px solid black;
    flex: 1 0 30px;
    /*max-width: 30px;*/
}

button {
    margin: 10px;
}

.grid-buttons {
    display: flex;
}

label {
    margin-left: 10px;
    margin-right: 2px;
}

input {
    width: 100px;
}

.pattern {
    margin: 30px;
    padding: 10px;
}

.needle-selection {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.info {
    position: relative;
}

.hidden-content {
    visibility: hidden;
    background-color: white;
    color: gray;
    text-align: justify;
    border: solid black 1px;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
    width: 180px;

    position: absolute;
    z-index: 1;

    top: -50px;
    left: 105%;
}

.info:hover .hidden-content {
    visibility: visible;
}